.container-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.object-svg {
    width: 45vw;
    margin-left: 5vw;
}

.text {
    color: white;
    width: 100vw;
}

p {
    width: 20vw;
    font-family: 'Gilroy';
    font-size: 1.2vw;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 4vw;
}

.text h1 {
    font-family: 'Gilroy';
    font-size: 5vw;
    font-weight: 900;
    line-height: 7.5vw;
    text-align: left;
    margin-right: 5vw;
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    font-family: 'Gilroy';
    font-size: 5vw;
    line-height: 5.5vw;
    color: white;
    margin-right: 40vw;
    margin-left: 12vw;
}

h3::first-line {
    color: #B09FFF;
}

h4 {
    color: white;
    text-align: center;
    font-size: 4vw;
    margin-top: 5%;
}

.experiance {
    height: 53vw;
    display: flex;
    justify-content: center;
}

.peoples {
    width: 83vw;
    height: 7vh;
    display: flex;
    align-items: center;
    background-color: #9583EA;
    border-radius: 25px;
    gap: 5vw;
    justify-content: space-around;
}

.peoples Button {
    width: 25vw;
    height: 75%;
    font-size: 2.3vw;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    margin-right: 1vw;
    margin-left: 1vw;
}



@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .peoples {
        width: 83vw;
        height: 6vh;
        display: flex;
        align-items: center;
        background-color: #9583EA;
        border-radius: 25px;
        gap: 5vw;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .peoples {
        width: 83vw;
        height: 5.5vh;
        display: flex;
        align-items: center;
        background-color: #9583EA;
        border-radius: 25px;
        gap: 5vw;
        justify-content: space-around;
    }
}

#active {
    color: #9583EA;
    background-color: rgb(252, 252, 252);
    border-radius: 25px;
}


.info {
    display: flex;
    flex-direction: column;
    width: 55vw;
    margin-top: 2vh;
}

h2 {
    color: white;
    font-family: "Gilroy";
    font-weight: 1;
    font-size: 3vw;
}

section span {
    color: white;
    font-family: "Gilroy";
    font-size: 2vw;
}

section b {
    color: #FFFFFF80;
    font-family: "Gilroy";
    font-size: 1.4vw;
    font-weight: 1;
}

.price {
    width: 65vw;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 17.5vw;
    background-color: #9583EA;
    border-radius: 25px;
}

.price-data-info {
    color: #FFFFFF99;
    font-size: 20%;
    width: 50%;
    margin-left: 1vw;
    margin-top: 1vh;
}

#price-data-rent {
    transition: 1s;
    position: relative;
    width: 17vw;
    height: 3vh;
    font-family: 'Gilroy';
    color: #9583EA;
    background-color: white;
    margin-left: 43vw;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.price-data {
    height: 100%;
    color: white;
    margin-left: 3vw;
}

.price-data-logo {
    width: 5vw;
    margin-top: 1vh;
}

.price-data-summary {
    color: white;
    font-family: 'Gilroy';
    font-size: 4.3vw;
    margin-left: 1vw;
}

.price-data a {
    text-decoration: none;
}

.price-data span {
    position: absolute;
    right: 1vw;
    color: #9583EA;
}

.how-it-works {
    margin-top: 0;
}

.block {
    display: flex;
    flex-direction: column;
}

.work {
    width: 45vw;
    height: auto;
    display: block;
    justify-content: center;
    margin-left: 25%;
    margin-bottom: 7.5%;
}


.actions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.actions-thesis {
    width: 100%;
    height: 100%;
    color: white;
}

div h1 {
    width: 100%;
    height: 50%;
    color: white;
    font-size: 2.5vw;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

.first-word {
    color: white;
    font-weight: 700;
    font-size: 2.5vw;
}

.numbering {
    width: 25vw;
    height: 100%;
    color: #B09FFF;
    font-size: 9vw;
    display: flex;
    justify-content: center;
}

.description {
    color: white;
    height: 50%;
    font-size: 1.75vw;
    display: block;
}

#map {
    width: 100%;
    height: 61vh;
}

@media only screen and (min-width: 750px) and (max-width: 1200px) {
    #map {
        height: 70vh;
    }
}

@media only screen and (min-width: 600px) and (max-width: 749px) {
    #map {
        height: 60vh;
    }
}

@media only screen and (min-width: 500px) and (max-width: 599px) {
    #map {
        height: 50vh;
    }
}

@media only screen and (min-width: 200px) and (max-width: 499px) {
    #map {
        height: 50vh;
    }
}

.marker-style {
    width: 2vw;
    height: 2.1vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #9583EA;
    border: 2px solid #46417E;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.slogan {
    margin-top: 5%;
}

.reviews {
    margin-top: 0;
}

.price-label {
    margin-top: 8%;
  }
